ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    width: 100%; /* Set the width of the box */
    height: 460px; /* Set the height of the box */
    overflow: auto; /* Enable scrollbars when content overflows */
}

button {
    text-align: left;
    width: 600px;
    height: 50px;
    margin-right: 10px; 
    margin-bottom: 10px;
}

