div {
    background-color: #2C3D50;
    text-align: center;
    color: white;
    padding: 20px 0; 
}

h1 {
    margin: 0;
    font-family: "Rockwell", serif;
    font-size: 25px; 
}

.logo {
    margin-right: 10px; 
    width: 40px; 
    height: auto; 
}

