#word {
  width: 120px;
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: #f5f5f5;
  color: #4b6170;
}

#word::placeholder {
  color: #4b6170;
}

div {
  text-align: center;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  vertical-align: middle;
  padding-left: 20px;
}
