.search-container {
  background-color: #ffffff;
  text-align: center;
  color: white;
  /* padding: 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.search-container label span {
  font-weight: bold;
}

.search-container input {
  width: calc(100% - 150px); /* Adjust width to accommodate the button */
  max-width: 400px; /* Optional: max-width for better responsiveness */
  padding: 10px;
  /* margin-top: 60px; */
  font-size: 14px;
  border: none;
  background-color: #f1f1f1;
  color: 000000;
  margin-right: 10px; /* Space between input and button */
}

.search-container input::placeholder {
  color: #ffffffb3;
}

.search-container button {
  padding: 10px 20px;
  /* margin-top: 60px; */
  font-size: 14px;
  background-color: #3498db;
  border: none;
  /* border-radius: 6px; */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #2980b9;
}
